page-address-book {
    font-family: 'Wallet';

    .wallet-address-book {
        border-radius: 34.858px;
        height: 69.716px;
        margin-top: 10px;
    }

    img.address-img {
        widows: 62px;
        height: 62px;
        max-width: 100%;
        max-height: 100%;
    }
}
