
  .thin-input.date {

    margin-top: $padding-lg;
    background-color:$secondary;
    color: $clear;
  }
  .activity-date {
    padding-left: $padding-md;
    color: $secondary;
    font-size: $font-size-input-thin;
    margin-left: 5%;
  }

